<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.metersphere.sql.mapper.ExtSqlDefinitionMapper">
    <resultMap id="SqlDefinitionDTO" type="io.metersphere.sql.pojo.dto.definition.SqlDefinitionDTO">
        <result column="tags" jdbcType="VARCHAR" property="tags" typeHandler="io.metersphere.handler.ListTypeHandler" />
    </resultMap>

    <select id="list" resultMap="SqlDefinitionDTO">
        select
        sql_definition.id, sql_definition.`name`, sql_definition.`sql_protocol`, sql_definition.`sql_method`,
        sql_definition.`status`, sql_definition.num, sql_definition.tags, sql_definition.pos,
        sql_definition.project_id, sql_definition.module_id, sql_definition.latest, sql_definition.version_id,
        sql_definition.ref_id, sql_definition.description, sql_definition.create_time, sql_definition.create_user,
        sql_definition.update_time, sql_definition.update_user, sql_definition.delete_user, sql_definition.delete_time,
        sql_definition.deleted, project_version.name as version_name
        from sql_definition
        LEFT JOIN project_version ON project_version.id = sql_definition.version_id
        where sql_definition.deleted = #{request.deleted}
        <include refid="queryWhereCondition"/>
    </select>

    <select id="selectNotInTrashCaseIdsByApiIds" resultType="io.metersphere.api.domain.ApiTestCase">
        select atc.id, atc.api_definition_id
        FROM api_test_case atc
        WHERE atc.deleted = 0 and atc.api_definition_id IN
        <foreach collection="apiIds" item="value" separator="," open="(" close=")">
            #{value}
        </foreach>
    </select>

    <sql id="queryWhereCondition">
        <if test="request.keyword != null and request.keyword != ''">
            and (
            sql_definition.num like concat('%', #{request.keyword},'%')
            or sql_definition.name like concat('%', #{request.keyword},'%')
            or sql_definition.path like concat('%', #{request.keyword},'%')
            or sql_definition.tags like concat('%', #{request.keyword},'%')
            )
        </if>
        <if test="request.projectId != null and request.projectId != ''">
            and sql_definition.project_id = #{request.projectId}
        </if>
        <if test="request.includeIds != null and request.includeIds.size() > 0">
            and sql_definition.id in
            <foreach collection="request.includeIds" item="includeId" separator="," open="(" close=")">
                #{includeId}
            </foreach>
        </if>
        <if test="request.excludeIds != null and request.excludeIds.size() > 0">
            and sql_definition.id not in
            <foreach collection="request.excludeIds" item="excludeId" separator="," open="(" close=")">
                #{excludeId}
            </foreach>
        </if>
<!-- TODO:-->
<!--        <if test="request.protocols != null and request.protocols.size() > 0">-->
<!--            and sql_definition.sql_protocol in-->
<!--            <foreach collection="request.protocols" item="protocol" separator="," open="(" close=")">-->
<!--                #{protocol}-->
<!--            </foreach>-->
<!--        </if>-->
        <if test="request.moduleIds != null and request.moduleIds.size() > 0">
            and sql_definition.module_id in
            <foreach collection="request.moduleIds" item="nodeId" separator="," open="(" close=")">
                #{nodeId}
            </foreach>
        </if>
        <include refid="filters">
            <property name="filter" value="request.filter"/>
        </include>

        <include refid="combine">
            <property name="combineSearch" value="request.combineSearch"/>
            <property name="projectId" value="${request.projectId}"/>
            <property name="deleted" value="${request.deleted}"/>
        </include>

        <include refid="queryVersionCondition">
            <property name="versionTable" value="sql_definition"/>
        </include>
    </sql>

    <sql id="filters">
        <if test="${filter} != null and ${filter}.size() > 0">
            <foreach collection="${filter}.entrySet()" index="key" item="values">
                <if test="values != null and values.size() > 0">
                    <choose>
                        <when test="key=='status'">
                            and sql_definition.status in
                            <include refid="io.metersphere.system.mapper.BaseMapper.filterInWrapper"/>
                        </when>
<!--                            TODO：-->
<!--                        <when test="key=='method'">-->
<!--                            and sql_definition.method in-->
<!--                            <include refid="io.metersphere.system.mapper.BaseMapper.filterInWrapper"/>-->
<!--                        </when>-->
                        <when test="key=='createUser'">
                            and sql_definition.create_user in
                            <include refid="io.metersphere.system.mapper.BaseMapper.filterInWrapper"/>
                        </when>
                        <when test="key=='versionId'">
                            and sql_definition.version_id in
                            <include refid="io.metersphere.system.mapper.BaseMapper.filterInWrapper"/>
                        </when>
                        <when test="key=='deleteUser'">
                            and sql_definition.delete_user in
                            <include refid="io.metersphere.system.mapper.BaseMapper.filterInWrapper"/>
                        </when>
                        <when test="key.startsWith('custom_single')">
                            and sql_definition.id in (
                            select api_id from api_definition_custom_field where concat('custom_single_', field_id) = #{key}
                            and trim(both '"' from `value`) in
                            <include refid="io.metersphere.system.mapper.BaseMapper.filterInWrapper"/>
                            )
                        </when>
                        <when test="key.startsWith('custom_multiple')">
                            and sql_definition.id in (
                            select api_id from api_definition_custom_field where concat('custom_multiple_', field_id) = #{key}
                            and
                            <include refid="io.metersphere.system.mapper.BaseMapper.filterMultipleWrapper"/>
                            )
                        </when>
                    </choose>
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="combine">
        <trim prefix="AND">
            <trim prefix="(" suffix=")" suffixOverrides="AND|OR">
                <if test="${combineSearch} != null">
                    <foreach collection="${combineSearch}.userViewConditions" item="condition">
                        <if test="condition.name == 'createUser'">
                            <include refid="io.metersphere.system.mapper.BaseMapper.condition">
                                <property name="condition" value="condition"/>
                                <property name="column" value="sql_definition.create_user"/>
                            </include>
                        </if>
                        <if test="condition.name == 'follower'">
                            <include refid="io.metersphere.system.mapper.BaseMapper.associationCondition">
                                <property name="mainIdColumn" value="sql_definition.id"/>
                                <property name="associationTable" value="api_definition_follower"/>
                                <property name="associationIdColumn" value="api_definition_id"/>
                                <property name="searchColumn" value="user_id"/>
                                <property name="condition" value="condition"/>
                            </include>
                        </if>
                        <include refid="io.metersphere.system.mapper.BaseMapper.queryType">
                            <property name="searchMode" value="${combineSearch}.searchMode"/>
                        </include>
                    </foreach>
                    <foreach collection="${combineSearch}.systemFieldConditions" item="condition">
                        <include refid="io.metersphere.system.mapper.BaseMapper.commonSystemFieldConditions">
                            <property name="condition" value="condition"/>
                            <property name="tablePrefix" value="sql_definition"/>
                        </include>
<!-- TODO-->
<!--                        <if test="condition.name == 'protocol'">-->
<!--                            <include refid="io.metersphere.system.mapper.BaseMapper.condition">-->
<!--                                <property name="condition" value="condition"/>-->
<!--                                <property name="column" value="sql_definition.protocol"/>-->
<!--                            </include>-->
<!--                        </if>-->
                        <if test="condition.name == 'status'">
                            <include refid="io.metersphere.system.mapper.BaseMapper.condition">
                                <property name="condition" value="condition"/>
                                <property name="column" value="sql_definition.status"/>
                            </include>
                        </if>
<!--TODO：-->
<!--                        <if test="condition.name == 'method'">-->
<!--                            <include refid="io.metersphere.system.mapper.BaseMapper.condition">-->
<!--                                <property name="condition" value="condition"/>-->
<!--                                <property name="column" value="sql_definition.method"/>-->
<!--                            </include>-->
<!--                        </if>-->
                        <if test="condition.name == 'path'">
                            <include refid="io.metersphere.system.mapper.BaseMapper.condition">
                                <property name="condition" value="condition"/>
                                <property name="column" value="sql_definition.path"/>
                            </include>
                        </if>
                        <if test="condition.name == 'belongTestPlan' and condition.operator == 'EQUALS'">
                            sql_definition.id in (
                            select sql.id from sql_definition sql inner join api_test_case apiCase ON sql.id =
                            apiCase.api_definition_id
                            WHERE sql.deleted IS FALSE and apiCase.deleted IS FALSE and apiCase.id in (
                            select api_case_id from test_plan_api_case where test_plan_id = #{condition.value}
                            )
                            )
                        </if>
                        <if test="condition.name == 'caseTotal'">
                            <choose>
                                <when test="condition.operator == 'NOT_EMPTY'">
                                    sql_definition.id in (
                                    select api_definition_id from api_test_case where deleted = ${deleted}
                                    and project_id = '${projectId}'
                                    )
                                </when>
                                <when test="condition.operator == 'EMPTY'">
                                    sql_definition.id not in (
                                    select api_definition_id from api_test_case where deleted = ${deleted}
                                    and project_id = '${projectId}'
                                    )
                                </when>
                                <when test="(condition.operator == 'LT' and condition.value &lt; 1) or (condition.operator == 'EQUALS' and condition.value &lt; 0)">
                                    1=2
                                </when>
                                <otherwise>
                                    <if test="condition.operator == 'LT' or (condition.operator == 'EQUALS' and condition.value == 0)">
                                        sql_definition.id not in (
                                        select api_definition_id from api_test_case where deleted = ${deleted}
                                        and project_id = '${projectId}'
                                        )
                                        <if test="condition.value &gt; 1">
                                            OR
                                        </if>
                                    </if>
                                    <if test="(condition.operator == 'EQUALS' and condition.value &gt; 0) or (condition.operator == 'LT' and condition.value &gt; 1) or condition.operator == 'GT'">
                                        sql_definition.id in (
                                        select api_definition_id from api_test_case where deleted = ${deleted}
                                        and project_id = '${projectId}'
                                        group by api_definition_id having
                                        <include refid="io.metersphere.system.mapper.BaseMapper.condition">
                                            <property name="condition" value="condition"/>
                                            <property name="column" value="count(id)"/>
                                        </include>
                                        )
                                    </if>
                                </otherwise>
                            </choose>
                        </if>
                        <include refid="io.metersphere.system.mapper.BaseMapper.queryType">
                            <property name="searchMode" value="${combineSearch}.searchMode"/>
                        </include>
                    </foreach>
                    <include refid="io.metersphere.system.mapper.BaseMapper.customFiledConditions">
                        <property name="mainIdColumn" value="sql_definition.id"/>
                        <property name="associationTable" value="api_definition_custom_field"/>
                        <property name="associationIdColumn" value="api_id"/>
                        <property name="combineSearch" value="${combineSearch}"/>
                    </include>
                </if>
            </trim>
        </trim>
    </sql>

    <sql id="queryVersionCondition">
        <if test="request.versionId != null and request.versionId != ''">
            and ${versionTable}.version_id = #{request.versionId}
        </if>
        <if test="request.refId != null and request.refId != ''">
            and ${versionTable}.ref_id = #{request.refId}
        </if>
        <if test="request.versionId == null and request.refId == null and request.id == null">
            AND ${versionTable}.latest = 1
        </if>
    </sql>
</mapper>
